/* You can add global styles to this file, and also import other style files */

.header {
    width : 100%;
    background-color: #1385ef;
}

h1 {
    text-align: left;
    color: white;
    padding: 0.5%;
    font-family: Chalkduster, fantasy;
}